@model ProiectAnaliza.Models.EditCustomerViewModel
@{
    ViewBag.Title = "Comenzile mele";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styleOrder.css" media="screen" />
</head>
<div class="centru">
    <h2 id="titluCateg">Comenzile mele:@String.Format("{0}", (from p in Model.Orders select p.Id).Count())</h2>

    <img src="~/Content/Images/mirage-order-completed.PNG" />
</div>

<table class="tabel">
    <tr>
        <th>
            Data
        </th>
        <th>
            Nume
        </th>
        <th>
            Email
        </th>
        <th>
            Status comanda
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.SurName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>

            <td>
                @Html.ActionLink("Vezi detalii", "UpdateOrder", new { id = item.Id })
            </td>
        </tr>
    }
</table>